#progress_bar {
  position: fixed;
  height: 5px;
  bottom: 10vh;
  left: 0;
  background-color: #FF0001;
  transition: width .2s ease;
}

#player-bar {
  height: 10vh;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.03);
  backdrop-filter: blur(100px);
  z-index: 99999;
  transform: translateY(100%);
  opacity: 0;

  &.active {
    transform: translateY(0);
    opacity: 1;
  }

  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;

  color: white;

  display: flex;
  flex-direction: row;

  #controls {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    left: 0;
    gap: 15px;
    font-size: 2rem;
    height: 100%;
    padding: 0 20px;
    width: 25%;
  }

  #info {
    display: grid;
    grid-template-columns: 10vh 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0;
    grid-row-gap: 0;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: inherit;
    width: 25%;

    box-sizing: border-box;

    img {
      grid-area: 1 / 1 / 3 / 2;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 15px;
      aspect-ratio: 1 / 1;
      height: calc(100% - 6px);
      width: calc(100% - 6px);
      object-fit: cover;
      margin: 3px;
      animation: placeHolderShimmer 2s infinite linear forwards;
      background: #272727;
      background: linear-gradient(to right, #eeeeee 10%, rgba(53, 53, 53, 0.85) 18%, #eeeeee 33%);
      background-size: 800px 104px;
      color: transparent;
    }

    p {
      grid-area: 1 / 2 / 2 / 3;
      margin: 3px 0 3px 6px;
      text-wrap: nowrap;
      text-overflow: ellipsis;
      align-self: center;
      animation: placeHolderShimmer 2s infinite linear forwards;
      background: #272727;
      background: linear-gradient(to right, #eeeeee 10%, rgba(53, 53, 53, 0.85) 18%, #eeeeee 33%);
      background-size: 800px 104px;
      animation-delay: .25s;
      color: transparent;
      border-radius: 10px;
    }

    span {
      border-radius: 10px;
      grid-area: 2 / 2 / 3 / 3;
      margin: 3px 0 3px 6px;
      text-wrap: nowrap;
      text-overflow: ellipsis;
      align-self: center;
      animation: placeHolderShimmer 2s infinite linear forwards;
      background: #272727;
      background: linear-gradient(to right, #eeeeee 10%, rgba(53, 53, 53, 0.85) 18%, #eeeeee 33%);
      background-size: 800px 104px;
      animation-delay: .25s;
      color: transparent;
    }

    &.active {
      img {
        animation: none;
        background: none;
      }

      p {
        animation: none;
        background: none;
        color: white;
      }

      span {
        animation: none;
        background: none;
        color: white;
      }
    }
  }

  #volume-controls {
    position: absolute;
    right: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: inherit;
    gap: 10px;
    margin-right: 8px;

    i {
      font-size: 1.5rem;
      cursor: pointer;
    }

    input {
      background-color: #FF0001;
      appearance: none;
      height: 3px;
    }
  }
}


@keyframes placeHolderShimmer{
  0%{
    background-position: -468px 0
  }
  100%{
    background-position: 468px 0
  }
}
