#container {
  position: absolute;
  top: 50%;
  transform: translate(-96%, -60%);

  #scroll {
    overflow: scroll;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE and Edge */
    &::-webkit-scrollbar {
      display: none; /* Chrome, Safari, and Opera */
    }
  }

  z-index: 999999;

  display: flex;
  flex-direction: column;
  height: 60%;
  box-sizing: border-box;
  border-radius: 0 15px 15px 0;
  width: 20%;
  border: none;

  transition: transform 0.5s ease-in-out, backdrop-filter .5s ease-in-out, background-color 0.5s ease-in-out, border 0.3s ease-in-out;

  &:hover {
    border: 2px solid rgba(90, 90, 90, 0.28);
    border-left: none;
    transform: translate(0%, -60%);
    //background-color: rgba(138, 138, 138, 0.31);
    backdrop-filter: blur(10px); // Adds blur effect
    .queue-item.current {
      background-color: rgba(255, 0, 0, 0.2);
    }
  }

  .queue-item {
    display: flex;
    align-items: center;
    padding: 8px;
    color: white;
    max-height: 56px;
    transition: background-color .3s ease-in-out;

    .thumbnail-square {
      width: 40px;
      height: 40px;
      object-fit: cover;
      aspect-ratio: 1 / 1;
      border-radius: 4px;
      display: block;
      margin: 2px
    }

    i {
      margin-right: 8px;
      color: #ccc;

      transition: color .3s ease-in-out;

      &:hover {
        color: #a00;
      }
    }

    span {
      margin: 5px;
      overflow: hidden;
      text-overflow: ellipsis;
      height: 1.2rem;
    }
  }

  #tag {
    position: absolute;
    rotate: -90deg;
    color: white;
    right: 0;
    top: 50%;
    width: 0;
  }
}
