.search-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform 0.3s ease, top 0.7s ease;
  z-index: 90;

  p {
    font-size: 3rem;
    padding: 0;
    margin: 0 0 20px 0;
    color: #9D37CB;
    font-weight: 700;
    text-align: center;

    transition: font-size 0.7s ease;

    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
  }

  .input-wrapper {
    display: flex;
    padding: 10px 16px;
    flex-direction: row;
    background-color: #2A2A2A;
    border-radius: 25px;
    align-items: center;
    min-width: 300px;

    .search-icon {
      font-size: 1.2rem;
      margin-right: 8px;
    }

    #search {
      flex: 1;
      background: transparent;
      border: none;
      color: white;
      font-size: 1rem;
      outline: none;

      &::placeholder {
        color: #909090;
      }
    }
  }

  &.hasSearched {
    transform: translate(-50%, 0);
    top: 0;

    p {
      font-size: 0;
    }
  }
}

#result-container {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  overflow-y: scroll;
  width: 80%;
  height: 90%;

  ::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none;
  -ms-scrollbar-track-color: transparent;
  scrollbar-track-color: transparent;
  scrollbar-width: none;

  tr {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: rgb(216, 241, 236);
    table-layout: fixed;
    margin: 10px 0 10px 0;
    opacity: 0;
    height: 0;
    overflow: hidden;
    animation: fadeIn 1s ease-in-out forwards;
    border-radius: 10px;

    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;

    td {
      width: 30%;
      align-items: center;
      justify-content: center;
      display: flex;

      overflow: hidden;

      img {
        background: transparent;
        object-fit: contain;
        display: block;
      }
    }

    td:not(:first-child) {
      height: inherit;
      border-left: 1px solid rgb(216, 241, 236);
      padding: 0 4rem 0 4rem;
    }

    td:last-child {
      width: 10%;
      .platform {
        i {
          font-size: 1.5rem;

          &.active {
            color: #F00;
          }
        }
        svg {
          width: 2rem;
          aspect-ratio: 1/1;

          &.active {
            color: #1ED760;
          }
        }
      }
    }

    &:hover {
      background-color: rgba(255, 255, 255, 0.1);
      cursor: pointer;
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    height: 0;
  }
  to {
    opacity: 1;
    height: 10vh;
  }
}
